* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #fff;
    color: #000;
    line-height: 1.5;
}

header, main {
    padding: 1.5em 0.5em;
    text-align: left;
}

nav {
    display: flex;
    gap: 1em;
}

nav a {
    text-decoration: none;
    color: black;
}

a:hover {
    opacity: 0.7;
}

main p, main h2 {
    background: white;
    display: inline-block;
    padding: 0.25em 0;
}

.post {
    margin-bottom: 4em;
    padding: 0 0.5em;
}

.post h2 {
    margin-bottom: 0;
}

.post .datetime {
    display: block;
    margin-top: 0.2em;
    color: #555;
    font-size: 0.9em;
}

.post img:first-child {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.post img:not(:first-child) {
    display: block;
    width: 100%;
    position: relative;
    margin-top: 1em;
}

.post img:nth-child(2) { z-index: 2; position: sticky; top: 0; }
.post img:nth-child(3) { z-index: 3; position: sticky; top: 0; }
.post img:nth-child(4) { z-index: 4; position: sticky; top: 0; }
.post img:nth-child(5) { z-index: 5; position: sticky; top: 0; }
.post img:nth-child(6) { z-index: 6; position: sticky; top: 0; }
.post img:nth-child(7) { z-index: 7; position: sticky; top: 0; }
.post img:nth-child(8) { z-index: 8; position: sticky; top: 0; }
.post img:nth-child(9) { z-index: 9; position: sticky; top: 0; }
.post img:nth-child(10) { z-index: 10; position: sticky; top: 0; }

.post p {
    margin-top: 1em;
}
