/* Force absolutely flush-left layout */
html, body {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
}
header, main, nav, h1, h2, p, .post-container, .post-content {
  margin-left: 0 !important;
  padding-left: 0 !important;
}
header h1 {
  display: block;
  margin: 0;
  padding: 0;
}
nav {
  display: block;
  margin: 0;
  padding: 0;
}
nav a {
  display: block;
  margin: 0;
  padding: 0;
  text-decoration: underline;
}


/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* PAGE STYLE */
body {
    font-family: Arial, Helvetica, sans-serif;
    background: #fff;
    color: #000;
    line-height: 1.5;
    font-size: 16px;
}

header, main {
    padding: 1.5em 2em;
    text-align: left;
}

/* NAVIGATION */
nav a {
    display: block;
    text-decoration: underline;
    color: black;
    margin-bottom: 0.3em;
}

/* POST CONTAINER */
.post-container {
    margin-bottom: 2em;
}

/* STICKY WRAPPER: sticks to top until next post */
.post-sticky-wrapper {
    position: sticky;
    top: 0;
    z-index: 10;
    background: white;
    padding-top: 1em;
}

/* TEXT */
.post-sticky-wrapper h2,
.post-sticky-wrapper p {
    background: white;
    padding: 0.2em 0.4em;
    margin-bottom: 0.5em;
}

/* MEDIA */
.post-sticky-wrapper img,
.post-sticky-wrapper video,
.post-sticky-wrapper audio {
    display: block;
    margin: 1em 0;
    max-width: 100%;
}

/* VIDEO SPECIFIC */
.post-sticky-wrapper video {
    width: 30em;
}

/* IMAGE SPECIFIC */
.post-sticky-wrapper img {
    width: 30em;
}

/* DATE */
.datetime {
    font-size: 0.9em;
    color: #555;
    margin-bottom: 0.5em;
}
