* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #fff;
    color: #000;
    line-height: 1.5;
}

header, main {
    padding: 1.5em 2em;
    text-align: left;
}

h1, h2, p {
    background: white;
    display: inline-block;
    padding: 0.2em 0.4em;
}

nav a {
    display: block;
    text-decoration: underline;
    color: black;
    margin-bottom: 0.3em;
}

nav a:hover {
    opacity: 0.7;
}

.post-container {
    position: relative; /* needed for sticky to respect parent */
    margin-bottom: 4em;
}

.post-image {
    display: block;
    position: sticky;
    top: 0;        /* sticks to top of viewport */
    z-index: 0;    /* behind text */
    margin-bottom: 1em;
}

.post-content p,
.audio-container {
    background: white;
    display: block;
    margin: 0.5em 0;
    padding: 0.2em 0.4em;
}

.datetime {
    display: block;
    margin-top: 0.2em;
    color: #555;
    font-size: 0.9em;
}

.post-image {
    display: block;
    z-index: 0;
}

.fixed-image {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    pointer-events: none;
}
