* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #fff;
    color: #000;
    line-height: 1.5;
}

header, main {
    padding: 1.5em 2em;
    text-align: left;
}

h1, h2 {
    background: white;
    display: inline-block;
    padding: 0.2em 0.4em;
}

p {
    display: inline-block;
    padding: 0.2em 0.4em;
}

nav {
    display: block;
}

nav a {
    display: block;
    text-decoration: underline;
    color: black;
    margin-bottom: 0.3em;
}

nav a:hover {
    opacity: 0.7;
}

.post-container {
    position: relative;
    margin-bottom: 4em;
}

.sticky-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
}

.post-content {
    position: relative;
    z-index: 10;
}

.post-content p,
.post-content audio {
    background: white;
    display: inline-block;
    margin: 0.5em 0;
    padding: 0.2em 0.4em;
}

.datetime {
    display: block;
    margin-top: 0.2em;
    color: #555;
    font-size: 0.9em;
}

#pagination a {
    margin-right: 0.5em;
    text-decoration: underline;
    color: black;
}

#pagination .current {
    font-weight: bold;
    text-decoration: none;
}
