/* Basic styling */
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #ffffff;
    color: #111;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    text-align: left;
    padding: 2em;
    background: #ffffff;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

header h1 span {
    display: inline-block;
    margin: 0 0.2em;
}

nav {
    margin-top: 1em;
    line-height: 2em; /* space between links */
}

nav a {
    display: block; /* stacked links */
    text-decoration: underline;
    text-transform: lowercase;
    color: #333;
    font-weight: bold;
}

nav a:hover {
    color: #0077cc;
}

/* Main posts */
main {
    width: 60%;
    margin: 2em auto;
    text-align: left;
}

/* Post content left-aligned */
.post {
    margin-bottom: 4em;
    text-align: left; /* ensures text inside posts is left-aligned */
}


.post {
    margin-bottom: 4em;
}

.post img {
    max-width: 100%;
    display: block;
    margin: 1em 0;
}

.datetime {
    font-size: 0.8em;
    color: #666;
}

/* Pagination */
.pagination {
    text-align: center;
    margin: 3em 0;
}

.pagination a {
    margin: 0 1em;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.pagination a:hover {
    color: #0077cc;
}
