/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #fff;
    color: #000;
    line-height: 1.5;
}

/* NAVIGATION ON SEPARATE LINES + UNDERLINE */
nav {
    display: block;
    margin-bottom: 2em;
}

nav a {
    display: block;
    text-decoration: underline;
    color: black;
    margin-bottom: 0.5em;
}

/* ALWAYS LEFT-ALIGNED PAGES */
header,
main {
    padding: 1.5em 2em;
    text-align: left;
}

main p,
main h2 {
    background: white;
    display: inline-block;
}

/* POSTS */
.post {
    margin-bottom: 4em;
    position: relative;
}

/* PERMANENT TOP IMAGE (FIRST IMAGE) */
.post img:first-child {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
}

/* OVERLAY IMAGES ON TOP */
.post img:not(:first-child) {
    width: 100%;
    display: block;
    margin-top: 1em;
    position: sticky;
    top: 0;
}

/* Automatically raise each further image */
.post img:nth-child(2) { z-index: 2; }
.post img:nth-child(3) { z-index: 3; }
.post img:nth-child(4) { z-index: 4; }
.post img:nth-child(5) { z-index: 5; }
.post img:nth-child(6) { z-index: 6; }
.post img:nth-child(7) { z-index: 7; }
.post img:nth-child(8) { z-index: 8; }
.post img:nth-child(9) { z-index: 9; }
.post img:nth-child(10) { z-index: 10; }

.post h2 {
    margin-bottom: 0;
}

.post .datetime {
    margin-top: 0.2em;
    display: block;
    font-size: 0.9em;
    color: #555;
}

.post p {
    margin-top: 1em;
}
