* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #fff;
    color: #000;
    line-height: 1.5;
}

header, main {
    padding: 1.5em 2em;
    text-align: left;
}

h1, h2, p {
    background: white;
    display: inline-block;
    padding: 0.2em 0.4em;
}

nav a {
    display: block;
    text-decoration: underline;
    color: black;
    margin-bottom: 0.3em;
}

nav a:hover {
    opacity:
