body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #ffffff;
    color: #111;
    margin: 0;
    padding: 0;
}

header {
    text-align: left;
    padding: 2em;
    background: #fff;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

header h1 span {
    display: inline-block;
    margin: 0 0.2em;
}

nav {
    margin-top: 1em;
}

nav a {
    display: block;
    text-decoration: underline;
    text-transform: lowercase;
    color: #333;
    font-weight: bold;
    margin-bottom: 0.5em;
}

nav a:hover {
    color: #0077cc;
}

main {
    width: 60%;
    margin: 2em auto;
    text-align: left;
}

.post {
    margin-bottom: 4em;
    text-align: left;
}

.post img {
    max-width: 100%;
    display: block;
    margin: 1em 0;
}

.datetime {
    font-size: 0.8em;
    color: #666;
}

.pagination {
    margin-top: 2em;
}

.pagination a {
    text-decoration: none;
    color: #0077cc;
    font-weight: bold;
    margin-right: 1em;
}
