/* Reset body */
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #ffffff; /* full white background */
    color: #111;
    margin: 0;
    padding: 0;
}

/* Remove default list styles */
ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    text-align: left;
    padding: 2em;
    background: #fff;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

header h1 span {
    display: inline-block;
    margin: 0 0.2em;
}

/* Navigation links */
nav a {
    display: block;
    text-decoration: underline;
    text-transform: lowercase;
    color: #333;
    font-weight: bold;
    margin-bottom: 0.5em;
}

nav a:hover {
    color: #0077cc;
}

/* Main posts container */
#posts-container {
    width: 60%;           /* or change to auto if you want full width */
    margin: 2em 0 2em 2em; /* top, right, bottom, left */
    text-align: left;
}


/* Individual post */
.post {
    margin-bottom: 4em;
}

.post img {
    display: block;
    margin: 1em 0;
}

.datetime {
    font-size: 0.8em;
    color: #666;
}

/* Pagination links */
.pagination {
    margin-top: 2em;
    text-align: left;
}

.pagination a {
    text-decoration: underline;
    color: #0077cc;
    font-weight: bold;
    margin-right: 0.5em;
    cursor: pointer;
}

.pagination a.current {
    text-decoration: none;
}

.pagination a:hover {
    color: #ff6600; /* hover color */
}
