* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #fff;
    color: #000;
    line-height: 1.5;
}

header, main {
    padding: 1.5em 2em;
    text-align: left;
}

nav {
    display: block;
}

nav a {
    display: block;
    text-decoration: underline;
    color: black;
    margin-bottom: 0.3em;
}

h1, h2, p {
    background: white;
    display: inline-block;
}

.datetime {
    display: block;
    margin-top: 0.2em;
    color: #555;
    font-size: 0.9em;
}

#posts-container img:first-of-type {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

#posts-container img {
    display: block;
    margin-top: 1em;
}

#posts-container img:nth-of-type(2) { position: sticky; top: 0; z-index: 2; }
#posts-container img:nth-of-type(3) { position: sticky; top: 0; z-index: 3; }
#posts-container img:nth-of-type(4) { position: sticky; top: 0; z-index: 4; }
#posts-container img:nth-of-type(5) { position: sticky; top: 0; z-index: 5; }
#posts-container img:nth-of-type(6) { position: sticky; top: 0; z-index: 6; }
#posts-container img:nth-of-type(7) { position: sticky; top: 0; z-index: 7; }
#posts-container img:nth-of-type(8) { position: sticky; top: 0; z-index: 8; }
#posts-container img:nth-of-type(9) { position: sticky; top: 0; z-index: 9; }
#posts-container img:nth-of-type(10) { position: sticky; top: 0; z-index: 10; }

audio {
    display: block;
    margin: 0.5em 0;
}

#pagination a {
    margin-right: 0.5em;
    text-decoration: underline;
    color: black;
}

#pagination .current {
    font-weight: bold;
    text-decoration: none;
}
